<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>confirmed:</b>
  <%=h @user.confirmed %>
</p>

<p>
  <b>level:</b>
  <%=h case when @user.level == 0 then "User" when @user.level == 1 then "Team" when @user.level == 2 then "Admin" end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
