<embed name="kraftwerk"
src=<%= url_for :controller=>"audio/autobahn.mp3" %>
loop="false"
hidden="true"
autostart="true">
</embed>

<h1>Bored by GM-voices? </h1>
<img src=<%= url_for :controller=>"images/autobahn_approved.png" %>  border="0" ALIGN=RIGHT />
<p>
Have you ever been annoyed by the quality and tedium of the voice prompts in your car? If so you might find help on this web side. It allows you to download new sound bundles or even create your own ones by uploading your files and receiving a software upgrade bundle which you can apply to your in car multimedia system.  </p>
<p> The content have been carefully evaluated in order to ensure the right kind of balance to keep drivers relaxed and awake at the same time. Both is of enormous importance when driving on  German highways. One moment of distraction can kill you when speeding about 150 miles per hour which is normal now a days. This very special dispense you can only get from utunes-webservices. It is fun and it is Autobahn Approved!
<h1> What you need?</h1>
<p>U-tunes voice bundles are available for the following car brands:</p>

<div align="center">
<table>
	<tr>
	<td valign="center"> <img src=<%= url_for :controller=>"images/chrysler-logo.jpg" %>  width=140px border="0" ALIGN=CENTER /> </td>
	<td valign="center"> <img src=<%= url_for :controller=>"images/dodge-logo.jpg" %>  width=100px border="0" ALIGN=CENTER /> </td>
	<td valign="center"> <img src=<%= url_for :controller=>"images/jeep_logo.jpg" %>  width=90px border="0" ALIGN=CENTER /> </td>
	</tr>
</table>
</div>

<p>Furthermore your car has to be equipped with a hands-free communication module (HFM) with USB connection. Cars with a manufacturing date of 2010 should come with this configuration.<p/>

<p>Your vehicle complies to these requirements? Then go ahead and follow the link to find out how to get your new voices. </p> 
<%= link_to "How to does it work?", :controller=>"help" %>

