<p>
  <b>Bundle:</b>
  <%=h @hc12_source.bundle_id %>
</p>

<p>
  <b>User:</b>
  <%=h @hc12_source.user_id %>
</p>

<p>
  <b>Version:</b>
  <%=h @hc12_source.version %>
</p>


<%= link_to 'Edit', edit_hc12_source_path(@hc12_source) %> |
<%= link_to 'Back', hc12_sources_path %>
